
img {
    margin-left: auto;
    margin-right: auto;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  
  .body {
      background-color: white ;

  }

  p {
      text-align: center;
  }
  

  #myVideo {
   
    margin: 0 auto;
	border: 10px outset #ddd;
    right: 10px;
    left: 10px;
    bottom: 0;
    width: 95%;
    max-width: fit-content;
    
    
  }