
.myface {
    text-align: center;
    position: absolute;
    width: 50;
    height: 50;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
